$container-max-widths: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1320px
) !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1320px
) !default;

$black: #242424;
$cinza-claro: #e6e6e6;
$cinza-medio: #474747;
$vermelho-destaque: #ed1c24;
$vermelho-escuro: #d41f1f;


$asap: 'Asap', sans-serif;
$dosis: 'Dosis', sans-serif;